/*** desktop styles ***/

.svc-nav { position: fixed; top:0; bottom: 0;  z-index: 999; width: 200px; 
    
    .svc-brand {
        .svc-logo { display: block; margin:0; text-align: center; }
    }
}

.svc-content { margin-left: 200px; }

.svc-footer { margin-left: 200px; font-size: 85%; color: #888; padding: 0 1em; }