
.svc-nav {
    line-height: 85px; background: #fff; box-shadow: 0 1px 3px rgba(34,25,25,.2);
    
    .svc-logo { color: #bbb; font-family: 18px; text-transform: uppercase; text-decoration: none; font-weight: bold; }
}