@asphault: #34495e;

.svc-nav { background: @asphault; box-shadow: 0 1px 3px rgba(34,25,25,.2);
    
    .svc-brand { line-height: 85px; text-align: left; 
        .svc-logo { display: inline-block; margin-left: 1em;font-family: 18px; font-weight: bold; color: #bbb;  text-decoration: none; text-transform: uppercase; }
    }
    
}

.svc-content { padding: 0 1em;}