{% extends 'servicemap/base.html' %}

{% block 'title' %}{{ service_name }}{% endblock %}

{% block 'content' %}
<h1>{{ service_name }}</h1>

{% if notes %}
<p class="service-notes">{{ notes }}</p>
{% endif %}

<div class="service-hosts svc-card">
    <h2><i class="fa fa-server"></i> Hosts</h2>

    {% if hosts.master_db %}
    <div class="hostgroup">
        <h3>Master DB</h3>
        <ul>
            {% for host in hosts.master_db %}
            <li>{{ host }} </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if hosts.slave_db %}
    <div class="hostgroup">
        <h3>Slave DB</h3>
        <ul>
            {% for host in hosts.slave_db %}
            <li>{{ host }} </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if hosts.database %}
    <div class="hostgroup">
        <h3>Database</h3>
        <ul>
            {% for host in hosts.database %}
            <li>{{ host }} </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if hosts.application %}
    <div class="hostgroup">
        <h3>Application</h3>
        <ul>
            {% for host in hosts.application %}
            <li>{{ host }} </li>
            {% endfor %}
        </ul>
    </div>

    {% endif %}
    {% if hosts.other %}
    <div class="hostgroup">
        <h3>Other hosts</h3>
        <ul>
            {% for host in hosts.other %}
            <li>{{ host.name }} <span>{{ host.role }}</span></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

{% if prereqs %}
<div class="service-prereqs svc-card">
    <h2>Dependencies</h2>
    {% for service in prereqs %}
    <div class="service-prereq">
    <a href="{% url 'service_display' name=service.name %}">{{ service.name }}</a>
    {% if service.notes %}
    <p>{{ service.notes }}</p>
    {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if dependency_of %}
<div class="svc-card">
<h2>Dependants</h2>
<ul>
    {% for service in dependency_of %}
    <li><a href="{%url 'service_display' name=service %}">{{ service }}</a></li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% if deployments %}
<div class="svc-card">
<h2>Deployments</h2>
<ul>
    {% for deployment in deployments %}
    <li>
    {{ deployment.user }} from {{ deployment.host }} @ {{ deployment.timestamp|date:'N j, Y, P' }}
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}

<div class="svc-card">
<h2>Login Provider</h2>
<ul>
    <li>Shibboleth</li>
    <li>OAuth</li>
</ul>
</div>

<div class="svc-card">
<h2>Log Data</h2>
<ul>
    <li>Splunk</li>
</ul>
</div>

{% endblock %}
